.body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

.header {
  display: block;
  padding: 1.75rem 0;
  width: 80%;
  margin: 0 auto;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav_large {
      display: none;

      @media only screen and (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
      }
    }

    .nav_small {
      display: block;

      @media only screen and (min-width: 600px) {
        display: none;
      }
    }

    .nav_small_popup {
      display: none;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
}
