.body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--default-padding);
  padding-top: 0;
  padding-bottom: 0;
  min-height: 80px;

  & > *:first-child {
    margin-right: auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
}
