.typography {
  margin-bottom: 32px;
}

.noMargin {
  margin-bottom: 0;
}

.inherit {
  text-align: 'inherit';
}

.center {
  text-align: 'center';
}

.justify {
  text-align: justify;
}

.left {
  text-align: 'left';
}

.right {
  text-align: right;
}
